<% if !@courses %>
	<script>
		$(document).on('pageshow', function(event){
			$('#bookmarked_courses').val(localStorage.getItem("bookmark"));
		});
		jQuery(document).ready(function($) {
		$("#bookmarked_courses").submit();
		}); 
	</script>
<% end %>

<script>
	function destroy(course_id) {
	    console.info("1");
		var array = JSON.parse(localStorage.getItem("bookmark"));
	    var i = 0;
	    while(JSON.stringify(array[i].id).replace(/['"]/g,'') != course_id) 
	    {  
	      i += 1;
	    }
	    var deleted_course_id = i;
	    while(array[i])
	    {
	    	i += 1;
	    }
	    i -= 1;
	    alert("You have deleted " + JSON.stringify(array[deleted_course_id].name) + "");
	    array[deleted_course_id] = array[i];
	    array.pop(i);
	    localStorage.setItem("bookmark", JSON.stringify(array));
	}    

	function subscribe_bookmarked(course_id){
			// grabs array stored in "bookmark" in local storage
			var bookmark_array = JSON.parse(localStorage.getItem("bookmark"));
		    var i = 0;

		    // checks the whole array for the index of the right course
		    while(JSON.stringify(bookmark_array[i].id).replace(/['"]/g,'') != course_id) 
		    {  
		      i += 1;
		    }
		    // remember id of subscribed course
		    var subscribed_course_id = i;

		    // fills new object for the "taking" courses database
		    taking 	   =	new Object();
		    taking.name    = 	JSON.stringify(bookmark_array[i].name).replace(/['"]/g,'');
		    taking.id 	   =	JSON.stringify(bookmark_array[i].id).replace(/['"]/g,'');
		    taking.credits = 	JSON.stringify(bookmark_array[i].credits).replace(/['"]/g,'');
		    taking.catalog = 	JSON.stringify(bookmark_array[i].catalog).replace(/['"]/g,'');

		    // grabs the array of "taking" courses
		    var taking_array = JSON.parse(localStorage.getItem("taking"));
		    // makes new array if there is no courses
		    if(!taking_array)
		    {
		      taking_array = new Array();
		    }

		    // searches array for empty spot and checks if course is not already present
		    i = 0;
		    while (taking_array[i] && (JSON.stringify(taking_array[i]) != JSON.stringify(taking))) 
		    {  
		      i += 1;
		    }

		    // checks if empty spot or same course was found
		    if (JSON.stringify(taking_array[i]) != JSON.stringify(taking))
		    {
		      // puts new object at the empty spot
		      taking_array[i] = taking;
		      
		      // sets new array in local storage
		      localStorage.setItem("taking", JSON.stringify(taking_array));
		   	  
		   	  // delete subscribed course from bookmarked
		      i = subscribed_course_id;

		      // looks for empty spot in array
		      while(bookmark_array[i])
		      {
		      	i += 1;
		      }
		      
		      // moves index to last occupied spot
		      i -= 1;

		      // copies last object to subscribed object's place
		      bookmark_array[subscribed_course_id] = bookmark_array[i];

		      // deletes last object from list
		      bookmark_array.pop(i);

		      // sets new array in local storage
		      localStorage.setItem("bookmark", JSON.stringify(bookmark_array));

		      // alerts user that subscription was succesful
	  	      alert("You have subscribed to " + JSON.stringify(taking.name) + "");
	  	    }
			// alerts user that course has already been subscribed to and keeps it at bookmarked courses
		    else
		    {
		      alert("Failed to subscribe to " + JSON.stringify(taking.name) + ". Course already taken");
		    }
		window.location.reload();
		}
</script>

<div data-role="page">
	<div data-role="header">	
		<h1>Bookmarked</h1>
		<br>
	</div>

	<div data-role="content" id="#page">
		<% if @courses %>
		<table>
		  <tr>
		    <th>Course's name</th>
		    <th>Ec</th>
		    <th></th>
		    <th></th>
		  </tr>

		<% @courses.each do |course| %>
		  <tr>
		    <td><%= link_to course['name'], course %></td>
		    <td><%= course['credits'] %></td>
		    <td><button onclick="destroy(<%=course['id'] %>)">Delete</button></td>
		    <td><button onclick="subscribe_bookmarked(<%=course['id'] %>)">Subscribe</button></td>
		  </tr>
		<% end %>
		</table>
		<% end %>
	</div>

	<div data-role ="footer"id="#footer" data-position="fixed">

		<button onclick="submit_bookmark_form()">Bookmarked courses</button> | <button onclick="submit_taking_form()">Taking courses</button> | <button onclick="submit_recent_form()">Recent courses</button> | <%= link_to 'Search courses', search_courses_path %>

		<form accept-charset="UTF-8" action="/courses/bookmarked" method="post">
		  <div style="margin:0;padding:0">
		    <input id ="bookmarked_courses" name="bookmarked_courses" type="hidden"/>
		  </div>
		</form>
		<script>
			function submit_bookmark_form(){
				$('#bookmarked_courses').val(localStorage.getItem("bookmark"));
				$("#bookmarked_courses").submit();
			}
		</script>

		
		
		<form accept-charset="UTF-8" action="/courses/taking" method="post">
		  <div style="margin:0;padding:0">
		    <input id ="taking_courses" name="taking_courses" type="hidden"/>
		  </div>
		</form>
		<script>
			function submit_taking_form(){
				$('#taking_courses').val(localStorage.getItem("taking"));
				$("#taking_courses").submit();
			}
		</script>

		
		

		<form accept-charset="UTF-8" action="/courses/recent" method="post">
		  <div style="margin:0;padding:0">
		    <input id ="recent_courses" name="recent_courses" type="hidden"/>
		  </div>
		</form>
		<script>
			function submit_recent_form(){
				$('#recent_courses').val(localStorage.getItem("recent"));
				$("#recent_courses").submit();
			}
		</script>
	</div>
</div>