<h1>Search courses</h1>

<%= form_tag("/search", :method => "get") do %>
  <%= label_tag(:n, "Name:") %>
  <%= text_field_tag(:n) %>
  <br>
  <%= label_tag(:i, "Institute:") %>
  <%= text_field_tag(:i) %>
  <br>
  <%= label_tag(:c, "Catalog number:") %>
  <%= text_field_tag(:c) %>
   <br>
  <%= label_tag(:ec, "Credits (EC):") %>
  <%= text_field_tag(:ec) %>
  <br>
  <%= label_tag(:m, "Maximum participants (Max.):") %>
  <%= text_field_tag(:m) %>
  <br>
  <%= label_tag(:p, "Semester:") %>
  <%= select_tag(:p, options_for_select([['1', "1"], ['2',"2"]])) %>
  <%= label_tag(:b, "Blok:") %>
  <%= select_tag(:b, options_for_select([['any', ""],['1', "1"], ['2', "2"],  ['3', "3"], ['1 en 2', "1 en 2"], ['2 en 3', "2 en 3"]])) %>
  <br>
  <%= label_tag(:s, "Staff:") %>
  <%= text_field_tag(:s) %>
  <br>
  <%= label_tag(:d, "Description:") %>
  <%= text_field_tag(:d) %>
  <%= submit_tag("Search") %>
<% end %>

<div>
  <br>
<%= link_to 'Bookmarked courses', bookmarked_courses_path %> | <%= link_to "Courses I'm taking", taking_courses_path %> | <%= link_to 'Search courses', search_courses_path %> | <%= link_to 'Recently viewed courses', recent_courses_path %>
</div>