<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Institute:</b>
  <%= @course.institute %>
</p>

<p>
  <b>Catalog number:</b>
  <%= @course.catalog_number %>
</p>

<p>
  <b>Ec:</b>
  <%= @course.ec %>
</p>

<p>
  <b>Staff:</b>
  <%= @course.staff %>
</p>

<p>
  <b>Maximum:</b>
  <%= @course.maximum %>
</p>

<p>
  <b>Blok:</b>
  <%= @course.blok %>
</p>

<p>
  <b>Programme:</b>
  <%= @course.programme %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
