<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Institute:</b>
  <%= @course.institute %>
</p>

<p>
  <b>Catalog number:</b>
  <%= @course.catalog_number %>
</p>

<p>
  <b>Ec:</b>
  <%= @course.ec %>
</p>

<p>
  <b>Staff:</b>
  <%= @course.staff %>
</p>

<p>
  <b>Maximum:</b>
  <%= @course.maximum %>
</p>

<p>
  <b>Blok:</b>
  <%= @course.blok %>
</p>

<p>
  <b>Programme:</b>
  <%= @course.programme %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<script>
  function bookmark(name, id)
  { 
    index = localStorage["BookmarkArraySize"];
    localStorage["BookmarkArray"][index] = name;
    localStorage["Bookmark" + id + ""] =  name;
    
    alert("Bookmarked course!");
  }
</script>

<script>
  function take(name, id)
  {
    localStorage["Taking" + id + ""] =  name;
    alert("Subscribed to course!");
  }
</script>

<button onclick="bookmark('<%=@course.name%>', '<%=@course.id%>')">Bookmark!</button>
<button onclick="take('<%=@course.name%>', '<%=@course.id%>')">Take course!</button>

<%= link_to 'Back', courses_path %>
