<% if !@courses %>
	<script>
		$(document).on('pageshow', function(event){
			$('#taking_courses').val(localStorage.getItem("taking"));
		});
		jQuery(document).ready(function($) {
		$("#taking_courses").submit();
		}); 
	</script>
<% end %>

<div data-role="page" >
	<div data-role="header">	
		<h1>Taking</h1>
		<br>
	</div>

	<div data-role="content" id="#page">
	<% if !@courses.nil? %>
			<table>
		  <tr>
		    <th>Course's name</th>
		    <th>Ec</th>
		    <th></th>
		  </tr>

		<% @courses.each do |course| %>
		  <tr>
		    <td><a href="/courses/<%= course['id']%>"> <%=course['name']%></a></td>
		    <td><%= course['credits'] %></td>
		    <td><button onclick="destroy_taking(<%=course['id'] %>)">Delete</button></td>
		  </tr>
		<% end %>
	</table>
	<% else %>
		<div>
			You have not subscribed to any courses
			<br>
		</div>
	<% end %>
	</div>

	<div data-role ="footer" id="#footer" data-position="fixed">

		<button onclick="submit_bookmark_form()">Bookmarked courses</button> | <button onclick="submit_taking_form()">Taking courses</button> | <button onclick="submit_recent_form()">Recent courses</button> | <%= link_to 'Search courses', search_courses_path %>
	
		<form accept-charset="UTF-8" action="/courses/bookmarked" method="post">
		  <div style="margin:0;padding:0">
		    <input id ="bookmarked_courses" name="bookmarked_courses" type="hidden"/>
		  </div>
		</form>
		
		<form accept-charset="UTF-8" action="/courses/taking" method="post">
		  <div style="margin:0;padding:0">
		    <input id ="taking_courses" name="taking_courses" type="hidden"/>
		  </div>
		</form>
		
		<form accept-charset="UTF-8" action="/courses/recent" method="post">
		  <div style="margin:0;padding:0">
		    <input id ="recent_courses" name="recent_courses" type="hidden"/>
		  </div>
		</form>
	</div>
</div>